a {
    text-decoration: none;
}

.card-images {
    height: 350px;
}

.product-card {
    transition: 0.5s;
}

.card {
    border: none !important;
}

.product-card:hover {
    transform: translateY(-1.1rem);
    box-shadow: #cfc09a 0px 4px 18px 1px;
}