.banner-headings {
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.banner-info {
    color: white;
    /* font-weight: bold; */
    font-family: 'Proza Libre', sans-serif;
}